n8n-workflows/N8N Fulfillment Workflow.json
{
  "name": "Fixed Client Fulfillment (All Tiers)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fulfill-client",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "fulfill-client"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/Clients/{{ $json.airtableRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_TOKEN }}"
            }
          ]
        }
      },
      "name": "Fetch Client from Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable-api-cred",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node['Fetch Client from Airtable'].json.fields['Tier'] }}",
              "rightValue": "Full Stack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF Full Stack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/IncomingPhoneNumbers.json",
        "authentication": "basicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "AreaCode",
              "value": "={{ $env.PREFERRED_AREA_CODE }}"
            },
            {
              "name": "FriendlyName",
              "value": "={{ $node['Fetch Client from Airtable'].json.fields['Business Name'] }} Number"
            }
          ]
        },
        "options": {}
      },
      "name": "Buy Twilio Number (Full Stack Only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth",
          "data": {
            "username": "={{ $env.TWILIO_ACCOUNT_SID }}",
            "password": "={{ $env.TWILIO_AUTH_TOKEN }}"
          }
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.N8N_HOST }}/rest/workflows/{{ $env.MASTER_WORKFLOW_ID }}",
        "authentication": "basicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $node['Fetch Client from Airtable'].json.fields['Business Name'] }} - {{ $json.tier }} System"
            }
          ]
        },
        "options": {}
      },
      "name": "Duplicate Master Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "httpBasicAuth": {
          "id": "n8n-api-cred",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/Clients/{{ $json.airtableRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={\"Status\": \"Live\", \"n8n Workflow ID\": \"{{ $node['Duplicate Master Workflow'].json.id }}\", \"Assigned Twilio Number\": \"{{ $if['IF Full Stack?'].json ? $node['Buy Twilio Number (Full Stack Only)'].json.incoming_phone_number.phone_number : $node['Fetch Client from Airtable'].json.fields['Existing Twilio Number'] }}\"}"
            }
          ]
        }
      },
      "name": "Update Airtable to Live",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable-api-cred",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "fromPhoneNumber": "={{ $node['Update Airtable to Live'].json.fields['Assigned Twilio Number'] }}",
        "toPhoneNumber": "={{ $node['Fetch Client from Airtable'].json.fields['Phone'] }}",
        "message": "=Your {{ $json.tier }} system is LIVE! Number: {{ $node['Update Airtable to Live'].json.fields['Assigned Twilio Number'] }} - Ben"
      },
      "name": "Send Go-Live SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "twilioApi": {
          "id": "your-twilio-cred",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientName = $node['Fetch Client from Airtable'].json.fields['Business Name'];\nconsole.log(`Fulfillment complete for ${clientName}`);\n// Add email on error: if error, send to ben@...\nreturn items;"
      },
      "name": "Log Success/Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Fetch Client from Airtable", "type": "main", "index": 0 }]] },
    "Fetch Client from Airtable": { "main": [[{ "node": "IF Full Stack?", "type": "main", "index": 0 }]] },
    "IF Full Stack?": {
      "main": [
        [{ "node": "Buy Twilio Number (Full Stack Only)", "type": "main", "index": 0 }],
        [{ "node": "Duplicate Master Workflow", "type": "main", "index": 0 }]
      ]
    },
    "Buy Twilio Number (Full Stack Only)": { "main": [[{ "node": "Duplicate Master Workflow", "type": "main", "index": 0 }]] },
    "Duplicate Master Workflow": { "main": [[{ "node": "Update Airtable to Live", "type": "main", "index": 0 }]] },
    "Update Airtable to Live": {
      "main": [
        [{ "node": "Send Go-Live SMS", "type": "main", "index": 0 }],
        [{ "node": "Log Success/Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-23T00:00:00.000Z",
  "versionId": "2"
}