n8n-workflows/New lead capture n8n.json
{
  "name": "BenBuildsBiz - Lead Capture Workflow (Improved)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead"
      },
      "id": "webhook-trigger",
      "name": "Webhook - Lead Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "leadScore",
              "value": "={{ $json.painPoint === 'missed-calls' || $json.painPoint === 'no-shows' ? 'HOT' : 'WARM' }}"
            },
            {
              "name": "followUpDate",
              "value": "={{ $now.plus(1, 'day').toISO() }}"
            },
            {
              "name": "nicheLabel",
              "value": "={{ $json.niche.charAt(0).toUpperCase() + $json.niche.slice(1) }}"
            },
            {
              "name": "urgencyScore",
              "value": "={{ ['missed-calls', 'no-shows', 'inconsistent-follow-up'].includes($json.painPoint) ? 9 : 7 }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "set-enrichment",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "application": "YOUR_AIRTABLE_BASE_ID",
        "table": "Leads",
        "additionalFields": {
          "Timestamp": "={{ $json.timestamp }}",
          "Business Name": "={{ $json.businessName }}",
          "Owner Name": "={{ $json.ownerName }}",
          "Phone": "={{ $json.phone }}",
          "Email": "={{ $json.email }}",
          "Niche": "={{ $json.nicheLabel }}",
          "Pain Point": "={{ $json.painPoint }}",
          "Lead Score": "={{ $json.leadScore }}",
          "Urgency Score": "={{ $json.urgencyScore }}",
          "Follow-Up Date": "={{ $json.followUpDate }}",
          "Source": "Demo Dashboard"
        }
      },
      "id": "save-lead-airtable",
      "name": "Save to Airtable - Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "airtableApi": "Airtable account"
      }
    },
    {
      "parameters": {
        "channel": "YOUR_SLACK_CHANNEL_ID",
        "text": "=New Lead Alert!\n\nBusiness: {{ $json.businessName }}\nOwner: {{ $json.ownerName }}\nPhone: {{ $json.phone }}\nEmail: {{ $json.email }}\nNiche: {{ $json.nicheLabel }}\nPain Point: {{ $json.painPoint }}\nScore: {{ $json.leadScore }} (Urgency: {{ $json.urgencyScore }})\n\nFollow up by: {{ $json.followUpDate }}"
      },
      "id": "notify-slack",
      "name": "Notify Ben on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {
        "slackApi": "Slack account"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.leadScore }}",
              "value2": "HOT"
            }
          ]
        }
      },
      "id": "if-hot-lead",
      "name": "Is HOT Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 450]
    },
    {
      "parameters": {
        "fromEmail": "ben@benbuildsbiz.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Thanks for the Demo at {{ $json.businessName }}!",
        "text": "=Hi {{ $json.ownerName }},\n\nThis is Ben - it was great showing you the system at {{ $json.businessName }}!\n\nBased on your {{ $json.painPoint }} challenge, I think we can make a big impact.\n\nI'll call you tomorrow to discuss next steps.\n\nBest,\nBen\nBenBuildsBiz.com"
      },
      "id": "send-email-hot",
      "name": "Send Follow-Up Email (HOT)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [950, 350]
    },
    {
      "parameters": {
        "fromPhoneNumber": "+1YOURTWILIONUMBER",
        "toPhoneNumber": "={{ $json.phone }}",
        "message": "=Hi {{ $json.ownerName }}!\n\nThis is Ben from BenBuildsBiz. Great meeting you at {{ $json.businessName }}!\n\nI'm excited to show you how we can solve your {{ $json.painPoint }} challenge with custom automation.\n\nI'll follow up with you within 24 hours.\n\n- Ben"
      },
      "id": "send-sms-hot",
      "name": "Send SMS (HOT Lead)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [950, 500],
      "credentials": {
        "twilioApi": "Twilio account"
      }
    }
  ],
  "connections": {
    "Webhook - Lead Received": { "main": [[{ "node": "Enrich Lead Data" }]] },
    "Enrich Lead Data": {
      "main": [
        [
          { "node": "Save to Airtable - Leads" },
          { "node": "Notify Ben on Slack" },
          { "node": "Is HOT Lead?" }
        ]
      ]
    },
    "Is HOT Lead?": {
      "main": [
        [
          { "node": "Send Follow-Up Email (HOT)" },
          { "node": "Send SMS (HOT Lead)" }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}