client-install-templates/n8n-workflows/modules/MODULE-02-appointment-reminders.json
{
  "name": "Appointment Reminder System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND(IS_AFTER({Date}, TODAY()), IS_BEFORE({Date}, DATEADD(TODAY(), 2, 'days')), {24hr Reminder Sent} = FALSE())"
        }
      },
      "id": "airtable-get-tomorrow",
      "name": "Get Tomorrow's Appointments",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hi {{ $json['Customer Name'] }}! 👋\n\nFriendly reminder: You have an appointment tomorrow at {{$env.BUSINESS_NAME}}!\n\n📅 Date: {{ $json.Date }}\n⏰ Time: {{ $json.Time }}\n\nSee you then! Reply CONFIRM or text if you need to reschedule.\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-24hr",
      "name": "Send 24hr Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "24hr Reminder Sent": "=true"
          }
        },
        "options": {}
      },
      "id": "airtable-mark-sent",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "cron-hourly",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND(DATETIME_DIFF({DateTime}, NOW(), 'hours') <= 1, DATETIME_DIFF({DateTime}, NOW(), 'hours') > 0, {1hr Reminder Sent} = FALSE())"
        }
      },
      "id": "airtable-get-1hr",
      "name": "Get Appointments in 1 Hour",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hi {{ $json['Customer Name'] }}!\n\nYour appointment is in 1 HOUR! ⏰\n\n🕐 Time: {{ $json.Time }}\n📍 {{$env.BUSINESS_NAME}}\n\nSee you soon! Running late? Just let us know.\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-1hr",
      "name": "Send 1hr Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1hr Reminder Sent": "=true"
          }
        },
        "options": {}
      },
      "id": "airtable-mark-1hr",
      "name": "Mark 1hr Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Daily at 9am": {
      "main": [
        [
          {
            "node": "Get Tomorrow's Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tomorrow's Appointments": {
      "main": [
        [
          {
            "node": "Send 24hr Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 24hr Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Appointments in 1 Hour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments in 1 Hour": {
      "main": [
        [
          {
            "node": "Send 1hr Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 1hr Reminder": {
      "main": [
        [
          {
            "node": "Mark 1hr Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["Module", "Reminders", "Standalone"],
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "module": {
      "name": "Appointment Reminder System",
      "price": "$300",
      "installTime": "20 minutes",
      "benefit": "Reduce no-shows by 50-70%",
      "requirements": ["Twilio", "Airtable with Appointments table"],
      "compatible": "Combines with all other modules"
    }
  }
}







