client-install-templates/n8n-workflows/modules/MODULE-03-review-automation.json
{
  "name": "Review Request Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily at 7pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Status} = 'Completed', IS_SAME({Date}, TODAY(), 'day'), {Review Requested} = FALSE())"
        }
      },
      "id": "airtable-get-completed",
      "name": "Get Today's Completed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json['Visit Count'] }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "id": "switch-visit-count",
      "name": "First Visit or Repeat?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hi {{ $json['Customer Name'] }}! ⭐\n\nWelcome to the {{$env.BUSINESS_NAME}} family! How was your first visit?\n\nIf you had a great experience, we'd be so grateful for a quick Google review! It helps other people find us.\n\n{{$env.GOOGLE_REVIEW_LINK}}\n\nTakes 30 seconds. Thanks for choosing us! 💚\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-first-visit",
      "name": "First Visit Review Request",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey {{ $json['Customer Name'] }}! 🌟\n\nThanks for coming back to {{$env.BUSINESS_NAME}} today!\n\nYou're one of our favorite customers! If you're loving our service, would you mind sharing that on Google? \n\n{{$env.GOOGLE_REVIEW_LINK}}\n\nYour review means the world to us! 💕\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-repeat-customer",
      "name": "Repeat Customer Review Request",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 350]
    },
    {
      "parameters": {
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Review Requested": "=true",
            "Review Request Date": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "airtable-mark-requested",
      "name": "Mark Review Requested",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Daily at 7pm": {
      "main": [
        [
          {
            "node": "Get Today's Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Completed": {
      "main": [
        [
          {
            "node": "First Visit or Repeat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Visit or Repeat?": {
      "main": [
        [
          {
            "node": "Repeat Customer Review Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "First Visit Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Visit Review Request": {
      "main": [
        [
          {
            "node": "Mark Review Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repeat Customer Review Request": {
      "main": [
        [
          {
            "node": "Mark Review Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["Module", "Reviews", "Standalone"],
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "module": {
      "name": "Review Request Automation",
      "price": "$250",
      "installTime": "15 minutes",
      "benefit": "Get 5-10x more Google reviews automatically",
      "requirements": ["Twilio", "Airtable", "Google review link"],
      "compatible": "Works perfectly with appointment reminders"
    }
  }
}







