client-install-templates/n8n-workflows/modules/MODULE-01-auto-reply.json
{
  "name": "Auto-Reply System - Universal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-reply",
        "options": {}
      },
      "id": "webhook-incoming",
      "name": "Incoming SMS/Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.MessageStatus || $json.CallStatus }}",
              "operation": "equals",
              "value2": "received"
            }
          ]
        }
      },
      "id": "switch-type",
      "name": "SMS or Call?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.From }}",
        "message": "=Hi! Thanks for texting {{$env.BUSINESS_NAME}}! 👋\n\nWe'll get back to you within 30 minutes.\n\nNeed immediate help? Call us at {{$env.BUSINESS_PHONE}}\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-text-reply",
      "name": "Auto-Reply to Text",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 250]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "={{$env.BUSINESS_PHONE}}",
        "toPhoneNumber": "={{ $json.From }}",
        "message": "=Hi! We missed your call at {{$env.BUSINESS_NAME}}. 📞\n\nWe're probably helping another customer right now.\n\nWe'll call you back ASAP! Or text us for faster response.\n\n- {{$env.OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-missed-call",
      "name": "Auto-Reply to Missed Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 350]
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.From }}",
            "First Contact": "={{ $now }}",
            "Last Message": "={{ $json.Body || 'Missed Call' }}",
            "Status": "New Lead",
            "Source": "Inbound"
          }
        },
        "options": {
          "ignore": {
            "ignoreDuplicates": true
          }
        }
      },
      "id": "airtable-log",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Incoming SMS/Call": {
      "main": [
        [
          {
            "node": "SMS or Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS or Call?": {
      "main": [
        [
          {
            "node": "Auto-Reply to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Reply to Missed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply to Text": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply to Missed Call": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["Module", "Auto-Reply", "Standalone"],
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "module": {
      "name": "Auto-Reply System",
      "price": "$200",
      "installTime": "15 minutes",
      "benefit": "Never miss a lead - instant responses 24/7",
      "requirements": ["Twilio", "Airtable"],
      "compatible": "Works with all other modules"
    }
  }
}





