client-install-templates/n8n-workflows/4-REALTOR-ai-ready-template.json
{
  "name": "{{BUSINESS_NAME}} - Realtor AI-Ready System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-realtor",
        "options": {}
      },
      "id": "webhook-incoming",
      "name": "Incoming Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// AI Hook: Sentiment Analysis\n// Replace with AI API call when ready\nconst message = $input.item.json.Body.toLowerCase();\nconst urgentWords = ['urgent', 'asap', 'now', 'immediately', 'today'];\nconst interestedWords = ['interested', 'looking', 'want', 'need', 'searching'];\nconst coldWords = ['maybe', 'thinking', 'not sure', 'later'];\n\nlet sentiment = 'neutral';\nlet urgencyScore = 0;\nlet intentScore = 50;\n\nif (urgentWords.some(word => message.includes(word))) {\n  sentiment = 'hot';\n  urgencyScore = 95;\n  intentScore = 90;\n} else if (interestedWords.some(word => message.includes(word))) {\n  sentiment = 'warm';\n  urgencyScore = 60;\n  intentScore = 70;\n} else if (coldWords.some(word => message.includes(word))) {\n  sentiment = 'cold';\n  urgencyScore = 20;\n  intentScore = 30;\n}\n\nreturn {\n  ...($input.item.json),\n  sentiment: sentiment,\n  urgencyScore: urgencyScore,\n  intentScore: intentScore,\n  analyzedAt: new Date().toISOString(),\n  aiProcessed: false // Set to true when AI agent added\n};"
      },
      "id": "ai-sentiment-analyzer",
      "name": "AI Hook: Sentiment Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.urgencyScore }}",
              "operation": "larger",
              "value2": 80
            }
          ]
        }
      },
      "id": "switch-urgency",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.From }}",
        "message": "=Hi! Thanks for reaching out! 🏡\n\nI'm {{ OWNER_NAME }}, a local realtor here in {{AREA}}.\n\nLooking to buy or sell?\n\nI'll text you back within 15 minutes with some options!\n\n- {{OWNER_NAME}}\n{{PHONE}}",
        "options": {}
      },
      "id": "sms-hot-lead-immediate",
      "name": "HOT Lead - Immediate Response",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.From }}",
        "message": "=Hi! Thanks for texting! 🏡\n\nI'm {{OWNER_NAME}}, and I'd love to help you with your real estate needs!\n\nAre you:\n🏠 Looking to buy?\n💰 Ready to sell?\n❓ Just exploring?\n\nLet me know and I'll send over some info!\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-warm-lead",
      "name": "WARM Lead - Standard Response",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.From }}",
        "message": "=Hi there! 👋\n\nThanks for reaching out! I'm {{OWNER_NAME}}, local realtor in {{AREA}}.\n\nNo pressure - just want to help however I can!\n\nWhat brings you here today?\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-cold-lead",
      "name": "COLD Lead - Soft Touch",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.From }}",
            "First Contact": "={{ $json.analyzedAt }}",
            "Last Message": "={{ $json.Body }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Urgency Score": "={{ $json.urgencyScore }}",
            "Intent Score": "={{ $json.intentScore }}",
            "Status": "New Lead",
            "Source": "Inbound SMS",
            "Lifecycle Stage": "Awareness",
            "Behavior Data": "={{ JSON.stringify({firstMessage: $json.Body, timestamp: $json.analyzedAt}) }}"
          }
        },
        "options": {}
      },
      "id": "airtable-log-with-ai-data",
      "name": "Log Lead + AI Behavior Data",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$env.AI_AGENT_WEBHOOK_URL || 'https://placeholder-for-future-ai.com/analyze'}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leadPhone",
              "value": "={{ $json.From }}"
            },
            {
              "name": "message",
              "value": "={{ $json.Body }}"
            },
            {
              "name": "sentiment",
              "value": "={{ $json.sentiment }}"
            },
            {
              "name": "urgencyScore",
              "value": "={{ $json.urgencyScore }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.analyzedAt }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "ai-agent-webhook-placeholder",
      "name": "AI Agent Hook (Future)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 500],
      "notes": "Replace URL with AI agent when ready. Leave disabled until then.",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "cron-behavior-tracking",
      "name": "Every 6hrs - Behavior Pattern Analysis",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "{Status} != 'Closed Won', {Status} != 'Closed Lost'"
        }
      },
      "id": "airtable-get-active-leads",
      "name": "Get All Active Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 700]
    },
    {
      "parameters": {
        "jsCode": "// AI Hook: Behavior Pattern Recognition\n// This tracks engagement cycles and predicts next action\nconst leads = $input.all();\nconst enrichedLeads = [];\n\nfor (const lead of leads) {\n  const json = lead.json;\n  const behaviorData = JSON.parse(json['Behavior Data'] || '{}');\n  \n  // Calculate engagement metrics\n  const daysSinceContact = Math.floor((Date.now() - new Date(json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24));\n  const totalInteractions = behaviorData.interactions?.length || 0;\n  const avgResponseTime = behaviorData.avgResponseTime || 0;\n  \n  // Determine lifecycle stage\n  let lifecycleStage = json['Lifecycle Stage'] || 'Awareness';\n  let nextAction = 'Send market update';\n  let actionTiming = 'now';\n  \n  if (totalInteractions === 0 && daysSinceContact > 3) {\n    nextAction = 'Re-engagement sequence';\n    actionTiming = 'immediately';\n  } else if (totalInteractions > 5 && json['Urgency Score'] > 70) {\n    lifecycleStage = 'Decision';\n    nextAction = 'Schedule showing';\n    actionTiming = 'today';\n  } else if (daysSinceContact > 30 && daysSinceContact < 90) {\n    nextAction = 'Check-in with value';\n    actionTiming = 'within 24hrs';\n  }\n  \n  enrichedLeads.push({\n    json: {\n      ...json,\n      daysSinceContact,\n      totalInteractions,\n      lifecycleStage,\n      nextAction,\n      actionTiming,\n      engagementScore: Math.min(100, (totalInteractions * 10) + (avgResponseTime < 60 ? 20 : 0)),\n      aiReadyForPersonalization: totalInteractions >= 3 // Flag for AI agent\n    }\n  });\n}\n\nreturn enrichedLeads;"
      },
      "id": "behavior-pattern-engine",
      "name": "Behavior Pattern Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 700]
    },
    {
      "parameters": {
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lifecycle Stage": "={{ $json.lifecycleStage }}",
            "Next Action": "={{ $json.nextAction }}",
            "Action Timing": "={{ $json.actionTiming }}",
            "Engagement Score": "={{ $json.engagementScore }}",
            "Days Since Contact": "={{ $json.daysSinceContact }}",
            "AI Ready": "={{ $json.aiReadyForPersonalization }}"
          }
        },
        "options": {}
      },
      "id": "airtable-update-behavior",
      "name": "Update Lead Behavior Scores",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron-nurture-awareness",
      "name": "Monday 9am - Awareness Stage Nurture",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Lifecycle Stage} = 'Awareness', DATETIME_DIFF(NOW(), {Last Nurture Message}, 'days') >= 7)"
        }
      },
      "id": "airtable-awareness-nurture",
      "name": "Get Awareness Stage Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 1000]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hi! 🏡\n\nQuick market update for {{AREA}}:\n\n📈 Avg home price: ${{AVG_PRICE}}\n📊 Inventory: {{INVENTORY_STATUS}}\n⏱️ Homes selling in {{AVG_DAYS}} days\n\nThinking about buying or selling? Now's {{MARKET_ADVICE}}.\n\nHappy to chat anytime - no pressure!\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-awareness-market-update",
      "name": "Awareness: Market Update",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 1000]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 3"
            }
          ]
        }
      },
      "id": "cron-nurture-consideration",
      "name": "Wednesday 2pm - Consideration Stage Nurture",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1200]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Lifecycle Stage} = 'Consideration', DATETIME_DIFF(NOW(), {Last Nurture Message}, 'days') >= 5)"
        }
      },
      "id": "airtable-consideration-nurture",
      "name": "Get Consideration Stage Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 1200]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey! Saw a few new listings this week that might interest you:\n\n🏡 {{LISTING_1_ADDRESS}}\n${LISTING_1_PRICE} | {{BEDS}}bd {{BATHS}}ba\n{{LISTING_1_LINK}}\n\n🏡 {{LISTING_2_ADDRESS}}\n${LISTING_2_PRICE} | {{BEDS}}bd {{BATHS}}ba\n{{LISTING_2_LINK}}\n\nWant to see any of these? I can schedule showings this week!\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-consideration-listings",
      "name": "Consideration: Listing Matches",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 1200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 5"
            }
          ]
        }
      },
      "id": "cron-nurture-decision",
      "name": "Friday 10am - Decision Stage Nurture",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1400]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Lifecycle Stage} = 'Decision', DATETIME_DIFF(NOW(), {Last Nurture Message}, 'days') >= 2)"
        }
      },
      "id": "airtable-decision-nurture",
      "name": "Get Decision Stage Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 1400]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey! Checking in - how's the house hunt going?\n\n🤔 Any questions I can answer?\n🏡 Want to see more properties?\n💰 Need financing recommendations?\n📋 Want to put in an offer?\n\nI'm here to help make this smooth! Let's find you the perfect place.\n\n- {{OWNER_NAME}}\n{{PHONE}}",
        "options": {}
      },
      "id": "sms-decision-checkin",
      "name": "Decision: Active Check-In",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 1400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1 * *"
            }
          ]
        }
      },
      "id": "cron-long-term-nurture",
      "name": "Monthly - Long-Term Nurture",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1650]
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Status} = 'Long-Term Nurture', DATETIME_DIFF(NOW(), {Last Contact}, 'days') >= 30, DATETIME_DIFF(NOW(), {First Contact}, 'days') <= 730)"
        }
      },
      "id": "airtable-long-term",
      "name": "Get Long-Term Nurture (2yr max)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 1650]
    },
    {
      "parameters": {
        "jsCode": "// AI Hook: Personalized Content Selection\n// Future: AI will generate custom messages based on 2yr behavior\nconst leads = $input.all();\nconst personalizedMessages = [];\n\nfor (const lead of leads) {\n  const json = lead.json;\n  const monthsSinceFirst = Math.floor((Date.now() - new Date(json['First Contact']).getTime()) / (1000 * 60 * 60 * 24 * 30));\n  \n  let messageType = 'market_update';\n  let personalNote = '';\n  \n  // Behavior-based message selection\n  if (monthsSinceFirst < 6) {\n    messageType = 'educational';\n    personalNote = \"Since you're newer to the market, thought you'd find this helpful!\";\n  } else if (monthsSinceFirst < 12) {\n    messageType = 'neighborhood_spotlight';\n    personalNote = \"Still keeping an eye out for you!\";\n  } else {\n    messageType = 'personal_checkin';\n    personalNote = \"It's been a while - timing still not right? No pressure, just checking in!\";\n  }\n  \n  personalizedMessages.push({\n    json: {\n      ...json,\n      messageType,\n      personalNote,\n      monthsSinceFirst,\n      aiShouldCustomize: monthsSinceFirst >= 3 // Flag for AI personalization\n    }\n  });\n}\n\nreturn personalizedMessages;"
      },
      "id": "long-term-personalization",
      "name": "Long-Term Personalization Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 1650]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "educational"
            },
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "neighborhood_spotlight"
            },
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "personal_checkin"
            }
          ]
        }
      },
      "id": "switch-message-type",
      "name": "Route by Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 1650]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey! 👋\n\n{{$json.personalNote}}\n\n📚 First-time homebuyer? Here are the key steps:\n\n1️⃣ Get pre-approved (I have great lender contacts)\n2️⃣ Make a wishlist (beds, baths, location)\n3️⃣ Start touring (I'll set up showings)\n4️⃣ Make an offer (I'll negotiate for you)\n5️⃣ Close in 30-45 days\n\nQuestions? Let's chat!\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-educational-content",
      "name": "Educational Content",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1050, 1550]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey! 🏡\n\n{{$json.personalNote}}\n\n📍 Neighborhood spotlight: {{NEIGHBORHOOD}}\n\n✨ Why people love it:\n• Great schools\n• Low crime\n• New restaurants/shops\n• Home values up 8% this year\n\nWant to see what's available there?\n\n- {{OWNER_NAME}}",
        "options": {}
      },
      "id": "sms-neighborhood-spotlight",
      "name": "Neighborhood Spotlight",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1050, 1650]
    },
    {
      "parameters": {
        "accountSid": "={{ $credentials.accountSid }}",
        "fromPhoneNumber": "{{PHONE}}",
        "toPhoneNumber": "={{ $json.Phone }}",
        "message": "=Hey! 👋\n\n{{$json.personalNote}}\n\nStill thinking about real estate? Or did life take you in a different direction?\n\nEither way - I'm here when you're ready! No pressure ever.\n\nAnd if you know anyone looking to buy/sell, send them my way! 🙏\n\nHope you're doing well!\n\n- {{OWNER_NAME}}\n{{PHONE}}",
        "options": {}
      },
      "id": "sms-personal-checkin",
      "name": "Personal Check-In",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1050, 1750]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "cron-ai-training-data",
      "name": "Daily 11am - Prepare AI Training Data",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1950],
      "notes": "Collects interaction data for future AI training",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "{AI Ready} = TRUE()"
        }
      },
      "id": "airtable-ai-ready-leads",
      "name": "Get AI-Ready Leads (3+ interactions)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 1950],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare training data for future AI agent\nconst leads = $input.all();\nconst trainingData = [];\n\nfor (const lead of leads) {\n  const json = lead.json;\n  \n  trainingData.push({\n    leadId: json.id,\n    phone: json.Phone,\n    interactions: JSON.parse(json['Behavior Data'] || '{}'),\n    sentiment: json.Sentiment,\n    urgencyScore: json['Urgency Score'],\n    intentScore: json['Intent Score'],\n    lifecycleStage: json['Lifecycle Stage'],\n    engagementScore: json['Engagement Score'],\n    conversionOutcome: json.Status,\n    timeToConversion: json['Days Since Contact'],\n    features: {\n      avgResponseTime: JSON.parse(json['Behavior Data'] || '{}').avgResponseTime || 0,\n      totalMessages: JSON.parse(json['Behavior Data'] || '{}').interactions?.length || 0,\n      mostActiveTimeOfDay: 'unknown', // Calculate from timestamp patterns\n      preferredChannel: 'SMS'\n    }\n  });\n}\n\n// Future: Send this to AI training pipeline\nreturn [{ json: { trainingData, collectedAt: new Date().toISOString(), recordCount: trainingData.length } }];"
      },
      "id": "ai-training-prep",
      "name": "Prepare AI Training Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 1950],
      "disabled": true
    }
  ],
  "connections": {
    "Incoming Message": {
      "main": [
        [
          {
            "node": "AI Hook: Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Hook: Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Route by Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Urgency": {
      "main": [
        [
          {
            "node": "HOT Lead - Immediate Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WARM Lead - Standard Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COLD Lead - Soft Touch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOT Lead - Immediate Response": {
      "main": [
        [
          {
            "node": "Log Lead + AI Behavior Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WARM Lead - Standard Response": {
      "main": [
        [
          {
            "node": "Log Lead + AI Behavior Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COLD Lead - Soft Touch": {
      "main": [
        [
          {
            "node": "Log Lead + AI Behavior Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Lead + AI Behavior Data": {
      "main": [
        [
          {
            "node": "AI Agent Hook (Future)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6hrs - Behavior Pattern Analysis": {
      "main": [
        [
          {
            "node": "Get All Active Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Active Leads": {
      "main": [
        [
          {
            "node": "Behavior Pattern Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Behavior Pattern Engine": {
      "main": [
        [
          {
            "node": "Update Lead Behavior Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday 9am - Awareness Stage Nurture": {
      "main": [
        [
          {
            "node": "Get Awareness Stage Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Awareness Stage Leads": {
      "main": [
        [
          {
            "node": "Awareness: Market Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wednesday 2pm - Consideration Stage Nurture": {
      "main": [
        [
          {
            "node": "Get Consideration Stage Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Consideration Stage Leads": {
      "main": [
        [
          {
            "node": "Consideration: Listing Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Friday 10am - Decision Stage Nurture": {
      "main": [
        [
          {
            "node": "Get Decision Stage Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Decision Stage Leads": {
      "main": [
        [
          {
            "node": "Decision: Active Check-In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly - Long-Term Nurture": {
      "main": [
        [
          {
            "node": "Get Long-Term Nurture (2yr max)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Long-Term Nurture (2yr max)": {
      "main": [
        [
          {
            "node": "Long-Term Personalization Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long-Term Personalization Engine": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Message Type": {
      "main": [
        [
          {
            "node": "Educational Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neighborhood Spotlight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal Check-In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 11am - Prepare AI Training Data": {
      "main": [
        [
          {
            "node": "Get AI-Ready Leads (3+ interactions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI-Ready Leads (3+ interactions)": {
      "main": [
        [
          {
            "node": "Prepare AI Training Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["AI-Ready", "Behavior-Tracking", "Long-Term-Nurture"],
  "triggerCount": 8,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "aiFeatures": {
      "sentimentAnalysis": "Basic (upgradeable to AI)",
      "behaviorTracking": "Advanced pattern recognition",
      "personalization": "Rule-based (AI-ready hooks)",
      "trainingDataCollection": "Built-in (disabled until AI ready)",
      "futureCapabilities": [
        "GPT-4 powered response generation",
        "Predictive lead scoring with ML",
        "Automated A/B testing",
        "Voice analysis integration",
        "Dynamic content generation"
      ]
    }
  }
}

